.nav-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  position: relative;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-toggle {
  width: 2rem;
  height: 1.7rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  display: none;
  span {
    background-color: var(--primary-accent);
    height: 3.5px;
    width: 100%;
    border-radius: 1rem;
    transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &:nth-of-type(1) {
      width: 50%;
    }

    &:nth-of-type(3) {
      width: 75%;
    }
  }
}

.toggle-active {
  span {
    &:nth-of-type(1) {
      transform: rotateZ(-45deg) translate(-4.5px, -3.8px);
      transform-origin: top right;
    }
    &:nth-of-type(2) {
      transform: rotateZ(45deg);
      transform-origin: center;
    }
    &:nth-of-type(3) {
      width: 50%;
      transform: rotateZ(-45deg) translate(-6.2px, -7.9px);
      transform-origin: bottom left;
    }
  }
}

.logo {
  font-size: 2.25em;
  color: var(--primary-accent);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.nav-content {
  ul {
    display: flex;
  }
  li {
    list-style: none;
    padding: 0rem 1.5rem;
    a,
    a:visited {
      display: block;
      text-decoration: none;
      color: var(--clr-white);
      text-transform: capitalize;
      letter-spacing: 2px;
      font-size: 1.05em;
      text-align: center;
    }
  }
}

@media screen and (max-width: 850px) {
  .nav-toggle {
    display: flex;
  }
  .nav-container {
    flex-direction: column;
    margin: 0;
  }
  .nav-header {
    width: 100%;
    padding: 0 1.5rem;
    background-color: var(--cont-clr);
    z-index: 9;
  }
  .nav-content {
    width: 100%;
    transition: top 500ms ease-in-out;
    position: absolute;
    ul {
      flex-direction: column;
      align-items: center;
      padding: 1rem 1.5rem;
      background-color: var(--cont-bg);

      li {
        width: 100%;
        margin: 1rem;
        padding: 0.7rem 0;
        text-align: center;
        border-radius: 0.7rem;
        background-color: transparent;
      }
    }
  }
}
