@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "./navbar.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #0f0f14;
  --cont-clr: #212130;
  --primary-accent: #2b8dee;
  --clr-white: #fff;
  --transiton: 500ms linear;
  --cont-bg: #2d2d41;
}

body {
  background-color: var(--bg-clr);
  font-family: "Poppins", sans-serif;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background-color: var(--cont-clr);
  box-shadow: 0 2px 10px rgb(17, 17, 17);
  z-index: 999;
  width: 100%;
  position: relative;
}

.content-section {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  position: relative;
}
section:nth-of-type(1) {
  background-color: pink;
}

// section:nth-of-type(2) {
// background-color: rgb(168, 250, 236);
// color: rgb(66, 202, 180);
// }

.sticky-view {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
  }
  p {
    margin-top: 1rem;
    color: rgb(71, 67, 67);
  }
}

.home {
  h2 {
    color: rgb(248, 91, 117);
  }
}

.project {
  background-color: rgb(168, 250, 236);
  h2 {
    color: rgb(61, 204, 180);
  }
}

// section:nth-of-type(3) {
//   background-color: rgb(234, 168, 250);
//   color: rgb(190, 93, 214);
// }

.contact {
  background-color: rgb(248, 206, 150);
  h2 {
    color: rgb(255, 145, 0);
  }
}

.about-me {
  background-color: rgb(234, 168, 250);
  h2 {
    color: rgb(190, 93, 214);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
}

.ts {
  transition: 0.5s ease-in-out;
}
